packages:
  yum:
    postgresql-devel: []
    python3-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: goworq/wsgi.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: goworq.settings
    PYTHONPATH: /var/app/current

container_commands:
  01_upgrade_pip:
    command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip"
  02_install_requirements:
    command: "source /var/app/venv/*/bin/activate && pip install -r requirements.txt"
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
